# dotenv
.env

# virtualenv
venv/
ENV/

# Rope project settings
.ropeproject
.idea
.DS_Store

logs
project/project
project/target
target
tmp
.history
dist
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings